.contacto{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 40%; 
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}