body {
    background: rgb(237, 54, 4);
    background: linear-gradient(90deg, rgba(237, 54, 4, 0.5) 0%, rgba(219, 172, 61, 0.5) 50%, rgba(255, 0, 0, 0.5) 100%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1,
h3,
a {
    margin: 0;
    padding: 0;
}

.login {
    margin: 0;
    max-width: 500px;
    align-items: center;
}

.login-header {
    color: #fff;
    text-align: center;
    font-size: 200%;
    ;
}

.login-form {
    border: .5px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
}

.login-form h3 {
    text-align: left;
    margin-left: 40px;
    color: #fff;
}

.login input[type="text"],
.login input[type="password"] {
    max-width: 400px;
    width: 80%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    margin: 1em 2em;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
}

.login-form input[type="button"] {
    height: 30px;
    width: 125px;
    background: #fff;
    border: #f2f2f2;
    border-radius: 5px;
    color: slategrey;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

img{
    width: 150px;
}