body {
    background: rgb(246,164,30);
    background: radial-gradient(circle, rgba(246,164,30,1) 0%, rgba(213,196,0,1) 100%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1,
h3,
a {
    margin: 0;
    padding: 0;
}

.login {
    margin: 0;
    max-width: 500px;
    align-items: center;
}

.login-header {
    color: #fff;
    text-align: center;
    font-size: 150%;
}

.login-form {
    
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
}

.login-form h3 {
    text-align: left;
    margin-left: 40px;
    color: #fff;
}

.login input[type="text"],
.login input[type="password"] {
    max-width: 400px;
    width: 80%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    margin: 1em 2em;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
}

.login-form a{
    height: 30px;
    width: 125px;
    background: #fff;
    border: #f2f2f2;
    border-radius: 5px;
    color: slategrey;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

img{
    width: 150px;
}



@media (max-width: 653px){
    .login-form{
        max-width: 500px;
        width: 90%;
    }
    img{
        display: none;
    }

    h1{
        text-align: center;
        font-size: 50px;
    }

    .login input[type="text"],
    .login input[type="password"] {
        max-width: 200px;
        width: 65%;  
    }
}

@media (max-width: 1368px) and (min-width: 768px){
    .login-form{
        width: 500px;
        height: 400px;
    }
    h1{
        text-align: center;
        font-size: 100px;
    }
    img{display: none;}

    .login input[type="text"],
    .login input[type="password"] {
        max-width: 400px;
        width: 90%;  
        font-size: 22.5px;
    }

    .login-form a{
        height: 50px;
        width: 200px;
        font-size: 22.5px;
    }

    h3{
        font-size: 25px;
    }
}


